In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv('./data/processed_data.csv')

data

,id,district,주택유형,도로조건,area_size,대지면적(㎡),transaction_date,계약일,거래금액,건축년도,...,floor,분양권/입주권,유형,용도지역,건축물주용도,지분구분,동,등기일자,건물명,대지권면적(㎡)
0,단독다가구(매매)_000000,서울특별시 도봉구 쌍문동,단독,8m미만,65.72,89.9,2024-12,9,37800.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,단독다가구(매매)_000001,서울특별시 성북구 정릉동,다가구,8m미만,293.08,133.0,2024-12,7,71000.0,1994.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,단독다가구(매매)_000002,서울특별시 마포구 상수동,단독,8m미만,25.83,53.0,2024-12,7,51000.0,1985.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,단독다가구(매매)_000003,서울특별시 동대문구 휘경동,다가구,8m미만,162.18,110.0,2024-12,7,139448.0,1992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,단독다가구(매매)_000004,서울특별시 광진구 능동,다가구,8m미만,245.15,163.6,2024-12,6,196000.0,2012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29389,오피스텔(전월세)_003463,서울특별시 종로구 숭인동,NaN,NaN,15.47,NaN,2024-11,14,NaN,2020.0,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29390,오피스텔(전월세)_003464,서울특별시 구로구 구로동,NaN,NaN,17.81,NaN,2024-11,14,NaN,2013.0,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29391,오피스텔(전월세)_003465,서울특별시 구로구 구로동,NaN,NaN,19.61,NaN,2024-11,14,NaN,2012.0,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29392,오피스텔(전월세)_003466,서울특별시 구로구 구로동,NaN,NaN,20.30,NaN,2024-11,14,NaN,2016.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29393,오피스텔(전월세)_003467,서울특별시 강동구 강일동,NaN,NaN,23.09,NaN,2024-11,14,NaN,2016.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29394 entries, 0 to 29393
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                29394 non-null  object
 1   district          29394 non-null  object
 2   주택유형              24737 non-null  object
 3   도로조건              6111 non-null   object
 4   area_size         29394 non-null  float64
 5   대지면적(㎡)           810 non-null    object
 6   transaction_date  29394 non-null  object
 7   계약일               29394 non-null  int64
 8   거래금액              4028 non-null   float64
 9   건축년도              28911 non-null  float64
 10  도로명               29318 non-null  object
 11  해제사유발생일           4028 non-null   object
 12  중개사소재지            4028 non-null   object
 13  평수                29394 non-null  float64
 14  full_address      29394 non-null  object
 15  latitude          29394 non-null  float64
 16  longitude         29394 non-null  float64
 17  보증금               25366 non-null  float64
 18  월세                25366 non-null  float64
 19  complex_name      16475 non-null  object
 20  floor             23499 non-null  float64
 21  분양권/입주권           60 non-null     object
 22  유형                672 non-null    object
 23  용도지역              672 non-null    object
 24  건축물주용도            672 non-null    object
 25  지분구분              50 non-null     object
 26  동                 1596 non-null   object
 27  등기일자              2701 non-null   object
 28  건물명               6808 non-null   object
 29  대지권면적(㎡)          1105 non-null   float64
dtypes: float64(10), int64(1), object(19)
memory usage: 6.7+ MB

In [11]:
data.columns

Index(['id', 'district', '주택유형', '도로조건', 'area_size', '대지면적(㎡)',
       'transaction_date', '계약일', '거래금액', '건축년도', '도로명', '해제사유발생일', '중개사소재지',
       '평수', 'full_address', 'latitude', 'longitude', '보증금', '월세',
       'complex_name', 'floor', '분양권/입주권', '유형', '용도지역', '건축물주용도', '지분구분', '동',
       '등기일자', '건물명', '대지권면적(㎡)'],
      dtype='object')

In [12]:
data = data.filter(items=['id', 'district', '주택유형', '도로조건', 'area_size', '대지면적(㎡)',
       'transaction_date', '평수', 'full_address', 'latitude', 'longitude', '보증금', '월세',
       'complex_name', 'floor','동','건물명'])

In [13]:
data

,id,district,주택유형,도로조건,area_size,대지면적(㎡),transaction_date,평수,full_address,latitude,longitude,보증금,월세,complex_name,floor,동,건물명
0,단독다가구(매매)_000000,서울특별시 도봉구 쌍문동,단독,8m미만,65.72,89.9,2024-12,19.880211,서울특별시 도봉구 쌍문동,37.651319,127.029191,NaN,NaN,NaN,NaN,NaN,NaN
1,단독다가구(매매)_000001,서울특별시 성북구 정릉동,다가구,8m미만,293.08,133.0,2024-12,88.656301,서울특별시 성북구 정릉동,37.618581,126.995483,NaN,NaN,NaN,NaN,NaN,NaN
2,단독다가구(매매)_000002,서울특별시 마포구 상수동,단독,8m미만,25.83,53.0,2024-12,7.813540,서울특별시 마포구 상수동,37.545627,126.924777,NaN,NaN,NaN,NaN,NaN,NaN
3,단독다가구(매매)_000003,서울특별시 동대문구 휘경동,다가구,8m미만,162.18,110.0,2024-12,49.059229,서울특별시 동대문구 휘경동,37.590855,127.065731,NaN,NaN,NaN,NaN,NaN,NaN
4,단독다가구(매매)_000004,서울특별시 광진구 능동,다가구,8m미만,245.15,163.6,2024-12,74.157541,서울특별시 광진구 능동,37.553779,127.080537,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29389,오피스텔(전월세)_003463,서울특별시 종로구 숭인동,NaN,NaN,15.47,NaN,2024-11,4.679654,서울특별시 종로구 숭인동,37.574528,127.019598,13500.0,0.0,헤스티아,7.0,NaN,NaN
29390,오피스텔(전월세)_003464,서울특별시 구로구 구로동,NaN,NaN,17.81,NaN,2024-11,5.387501,서울특별시 구로구 구로동,37.495771,126.882642,9900.0,6.0,비즈트위트 오렌지,13.0,NaN,NaN
29391,오피스텔(전월세)_003465,서울특별시 구로구 구로동,NaN,NaN,19.61,NaN,2024-11,5.931998,서울특별시 구로구 구로동,37.495771,126.882642,10000.0,25.0,비즈트위트 레인보우,16.0,NaN,NaN
29392,오피스텔(전월세)_003466,서울특별시 구로구 구로동,NaN,NaN,20.30,NaN,2024-11,6.140722,서울특별시 구로구 구로동,37.495771,126.882642,1000.0,60.0,파인마루오피스텔,8.0,NaN,NaN
29393,오피스텔(전월세)_003467,서울특별시 강동구 강일동,NaN,NaN,23.09,NaN,2024-11,6.984694,서울특별시 강동구 강일동,37.565042,127.173906,500.0,48.0,강일 포디움,5.0,NaN,NaN

In [7]:
data

,NO,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,도로명,계약기간,계약구분,주택유형
0,1,서울특별시 용산구 한강로2가,426,426,0,용산베르디움프렌즈,월세,48.9018,202412,6,"19,323",34,15,2021,백범로99길 40,202503~202703,갱신,아파트
1,2,서울특별시 용산구 한강로2가,426,426,0,용산베르디움프렌즈,월세,49.9403,202412,6,"19,707",35,7,2021,백범로99길 40,202503~202703,갱신,아파트
2,3,서울특별시 용산구 한강로2가,426,426,0,용산베르디움프렌즈,월세,44.9009,202412,6,"17,729",32,9,2021,백범로99길 40,202503~202703,갱신,아파트
3,4,서울특별시 종로구 숭인동,202-3,202,3,종로중흥S클래스,월세,17.8110,202412,6,500,63,5,2013,종로66길 28,202501~202601,갱신,아파트
4,5,서울특별시 성동구 마장동,831,831,0,마장에스에이치빌,월세,39.8400,202412,6,"6,813",3,7,2006,마조로15가길 23,-,신규,아파트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212853,212854,서울특별시 서대문구 홍제동,453,453,0,청구1차,월세,84.7800,202401,1,"29,160",83,9,1994,통일로 348,202401~202512,갱신,아파트
212854,212855,서울특별시 은평구 대조동,197-1,197,1,유진아이디움,전세,14.0300,202401,1,"13,000",0,9,2019,연서로28길 8,202401~202601,갱신,아파트
212855,212856,서울특별시 서대문구 홍은동,202-5,202,5,"현대(1,2차)",월세,84.7700,202401,1,0,100,9,1988,연희로 377,202401~202403,신규,아파트
212856,212857,서울특별시 서대문구 북아현동,1009,1009,0,두산,전세,59.9600,202401,1,"40,000",0,12,1999,이화여대8길 62,202401~202501,갱신,아파트
212857,212858,서울특별시 광진구 자양동,645-5,645,5,자양동현대,전세,84.5500,202401,1,"60,000",0,18,1993,뚝섬로56길 72,202401~202601,갱신,아파트